body{
    background-color:#0b0C10;
    color:#66FCF1;
}
#show_sketch{
    background-color:#1F2833 !important;
    border: solid 2px #45A29E;
    color:#C5C6C7;
    border-radius:15px;
    font-size:17px;
    font-weight:700;
    width:145px;
    height:32.5px;
    position: absolute;
    right:50px;
    top:24px;
}
#header{
    background-color:rgba(102, 252, 241, 0.25);
}
#sketch-result{
    font-size:18px;
    font-weight: bold;
}
#sketch-confidence{
    font-size:18px;
    font-weight: bold;
}
#sketch-drawing-instructions{
    font-size:18px;
    font-weight: bold;
    color:#C5C6C7;
}
#score{
    float:left;
    margin-left:30px;
    font-weight: bold;
}
#timer{
    float:right;
    margin-right: 150px;
    font-weight:bold;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation: border-animation 4s infinite;
}
@keyframes border-animation{
    from{box-shadow: 1px 1px 38px #45A29E;}
    to{box-shadow: 1px 1px 38px #C5C6C7;}
}
p{
    padding-top:10px;
    font-size:25px;
}
#clarcan{
    border-radius: 20px;
    background-color: #45A29E;
    border-style: solid;
    color:white;
}